
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.calculator {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 700px;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}

#screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(202, 202, 172);
    width: 400px;
    height: 100px;
    font-size: 50px;
    margin-left: 40px;
    padding-right: 25px;
}

.buttons {
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: -20px;
}

button {
    height: 105px;
    width: 105px;
    font-weight: 600;
    background-color: #6d6d6d;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 36px;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
}

button:hover {
    top: -3px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button.numberbutton {
    background-color: rgb(225, 225, 225);
}

button.clearbutton {
    background-color: orange;
}